.navbar ul {
    list-style-type: none;
}

.navbar li {
    display: inline;
    font-size: 20pt;
    padding-right: 50px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: #C7CCDB;
    border-radius: 5px;
    border-color: #2A324B;
    border-style: solid;
    margin: auto;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: #007bff;
}