.navbar ul {
    list-style-type: none;
}

.navbar li {
    display: inline;
    font-size: 20pt;
    padding-right: 50px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: #C7CCDB;
    border-radius: 5px;
    border-color: #2A324B;
    border-style: solid;
    margin: auto;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: #007bff;
}

#postsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid black;
    width: 400px;
    margin: 10px 0 10px 0;
    padding: 10px;
    background-color: #C7CCDB;
    border-radius: 8px;
}

.post h3 {
    font-size: x-large;
}

.post img {
    border-radius: 5px;
}