body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-container {
    background: white;
    padding: 40px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.post-input input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
}

input:nth-child(2) {
    margin: 5px 0 30px 0;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.submit {
    padding: 10px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}